body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #1f2a44, #132a43);
    color: #fff;
    position: relative;
    overflow-x: hidden;
    place-items: center;
}

.mainBody {
    margin: 10%;
    margin-top:3%;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 255, 255, 0.3);
    border-radius: 15px;
    place-items: center;
    transition: background 0.5s ease-in-out;
}

h1 {
    text-align: center;
    font-size: clamp(1rem, 8vw, 2rem);
    color: #00b3b3;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-family: Calibri;
    font-style: italic;
    letter-spacing: 3px;
}

button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    background: linear-gradient(45deg, #00b3b3, #006699);
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 0.3s, background 0.3s;
}

    button:hover {
        transform: scale(1.1);
        background: linear-gradient(45deg, #006699, #00b3b3);
    }

#toggleLangBtn {
    padding: 0.8rem 1.6rem;
    background: linear-gradient(45deg, #ff6699, #806699);
    color: white;
    border: none;
    margin: 12px;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
    z-index: 10;
}

    #toggleLangBtn:hover {
        transform: scale(1.1);
        background: linear-gradient(45deg, #006699, #ff6699);
    }

#menuTray {
    background: #404080;
    padding: 10px;
    margin-top: 5px;
    display: none;
    border-radius: 12px;
}

.centerContent {
    place-items: center;
}

a {
    text-decoration: none; /* Removes underline */
    color: #3498db; /* Sets link color */
    font-family: Arial, sans-serif; /* Sets font */
    font-size: 16px; /* Sets font size */
    padding: 5px 10px; /* Adds padding around the link */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for background */
}

    /* Hover state */
    a:hover {
        background-color: #2980b9; /* Change background on hover */
        color: white; /* Change text color on hover */
    }
