<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interactive Story Tool</title>
    <link href="~/style/site.css" rel="stylesheet" />
    <link href="~/style/ReadScrean.css" rel="stylesheet" />
    <script src="~/js/ReadPage.js"></script>
</head>
<body>
    <header id="topBar" class="centerContent">
        <button id="menuToggle">☰</button>
        <div id="menuTray" class="centerContent">
            <button id="toggleLangBtn">עברית</button>
            <div>
                <span>
                    <button id="dirLtr">LTR</button>
                    <button id="dirRtl">RTL</button>
                </span>
            </div>
        </div>
    </header>

    <main class="mainBody">
        <h1 id="title">Interactive Story Tool</h1>
        <button id="pasteBtn">
            <span class="material-symbols-outlined">Paste</span>
        </button>

        <p id="story"></p>

        <div id="selectedWords">
            <h2 id="unknownWordsTitle">Unknown Words</h2>
            <button id="copyBtn">Copy Words</button>
            <ul id="wordList"></ul>
        </div>
        <br />
        <a href="https://chatgpt.com/" target="_blank" rel="noopener noreferrer" style="color:#006699">Open ChatGPT</a>
    </main>
</body>
</html>