.text-reader {
    line-height: 1.6;
    font-size: 1.1rem;
    font-family: sans-serif;
    user-select: none;
    padding: 1rem;
    color: var(--text-color);
}

    .text-reader span {
        border-radius: 4px;
        cursor: pointer;
        white-space: pre-wrap;
    }

    .text-reader .word:hover {
        background-color: var(--hover-component);
    }

    .text-reader .highlight {
        background-color: var(--toggle-color);
    }

.rtl {
    direction: rtl;
    text-align: right;
}

.ltr {
    direction: ltr;
    text-align: left;
}
